<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 网站标题 -->
    <title>首页</title>
    <!-- 采用模板语言，加载静态资源 -->
    {% load staticfiles %}
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--导入css-->
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <link rel="stylesheet" href="{% static 'common/jquery.pagination.css' %}">
{#    111111111111111111111111111111111111#}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

</head>

<body>
<div id="app">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

    <div class="container">

        <div>
            <a class="navbar-brand" href="{% url 'home:index' %}">永劫无间</a>
        </div>

        <div class="collapse navbar-collapse">
            <div>
                <ul class="nav navbar-nav">{# navbar-nav#}
                    {% for cat in categories %}
                        {% if cat.id == category.id %}
                            <li class="nav-item active">{#  #}
                                <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>{# mr-2 #}
                            </li>
                        {% else %}
                             <li class="nav-item">
                                <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>
                            </li>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown" v-if="is_login">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="show_menu_click">[[username]]</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: block" v-show="show_menu">

                        <a class="dropdown-item" href='{% url 'users:center' %}'>个人信息</a>
                        <a class="dropdown-item" href='{% url 'users:logout' %}'>退出登录</a>
                    </div>
                </li>

                <li class="nav-item" v-else>
                    <a class="nav-link" href="{% url 'users:login' %}">登录</a>
                </li>
            </ul>
    </div>
</nav>
{#1111111111111111111111#}
<div {#  style="width: 750px;  height: 350px;text-align: center"#}>
<video {# width="320" height="240" controls #}width="100%" autoplay loop muted>
    <source style="margin: 20px" src="{% static 'voide.mp4' %}" type="video/mp4">     # 播放器形式
    您的浏览器不支持 video 标签。
</video>
</div>
{#<div id="mask">#}
{#      <div class="center">#}
{#        <img :src='jh[index]' alt="未正确加载图片资源" />#}
{#        <a#}
{#          href="#"#}
{#          class="left"#}
{#          @click="lefta"#}
{#          v-show="index!=0"#}
{#        >#}
{#          <img src="{% static 'img/left.png' %}" alt="" />#}
{#        </a>#}
{#        <a#}
{#          href="#"#}
{#          class="right"#}
{#          @click="righta"#}
{#          v-show="index!=3"#}
{#        >#}
{#          <img src="{% static 'img/right.png' %}" alt="" />#}
{#        </a>#}
{#      </div>#}
{#</div>#}

{#1111111111111111111111#}

<div style="
{#border: #32383e solid 5px;#}
background-color: #bbb;

">
    <!-- 列表循环 -->
    {% for article in articles %}
        <div class="row mt-2"onmouseover="style.backgroundColor='#fff'" onmouseout="style.backgroundColor='#bbb'" >{# row mt-2 #}
            <!-- 文章内容 -->
            <!-- 标题图 -->
            <div class="col-3" >
                <img src="{{ article.avatar.url }}" alt="avatar" style="max-width:100%; border-radius: 20px">
            </div>
            <div class="col">

                <h4 style="margin-top: 50px">
                    <b><a href="../static/detail.html" style="color: black;">{{ article.title }}</a></b>
                </h4>

                <div style="margin-top: 90px">
                    <p style="color: gray;">
                        {{ article.sumary }}
                    </p>
                </div>

            </div>
            <hr style="width: 100%;"/>
    </div>
    {% endfor %}

    <div class="pagenation" style="text-align: center">
        <div id="pagination" class="page"></div>
    </div>
</div>
{#<div style=" width: 700px;#}
{#            height: 950px;#}
{#            position: fixed;#}
{#            right:0;#}
{#            bottom: 0;">#}
{#    <img style="object-fit: fill;" src="{% static 'img/003.jpg' %}">#}
{#</div>#}
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <h5 class="m-0 text-center text-white">永劫无间</h5>
    </div>
</footer>
</div>


<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.pagination.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {{ page_num }},
            totalPage: {{ total_page }},
            callback:function (current) {
                location.href = '/?cat_id={{ category.id }}&page_size={{ page_size }}&page_num='+current;
            }
        })
    });
</script>
<script>
      let app = new Vue({
        el: "#mask",
        data: {
          jh:[ 'img/01.jpg','{% static 'img/02.jpg' %}','{% static 'img/03.jpg' %}','{% static 'img/04.jpg' %}'],
          index:0,
        },
        methods: {
          righta(){
            this.index++;

          },
          lefta(){
            this.index--;
          }
        }
      });
    </script>
  </body>
</html>